/* .list-questions {
    text-align: center;
    padding: 40px 10% 20px 10%;
}

.question-card {
    height: 200px;
    line-height: 200px;
    text-align: center;
}

tr {
    vertical-align: bottom;

} */